@charset "utf-8";
/* CSS Document */

div.pageMain{ padding:20px 20px 10px 0px; min-height:700px;}

/**/
div.jigouDivHead{ clear:both; margin-bottom:15px; background:#fff; padding:10px 20px 20px 325px; height:245px; position:relative;}
div.picDiv{position:absolute; left:10px; top:10px; z-index:100; width:300px; height:260px; overflow:hidden;}
div.picDiv h1 img{width:300px; height:200px;}
ul.picDivList{ padding-top:5px;width:320px;}
ul.picDivList li{ float:left;width:63px; height:42px;padding:3px; border:1px solid #efefef; margin-right:5px; cursor:pointer;}
ul.picDivList li:hover{border:1px solid #ddd; background:#efefef;}
ul.picDivList li img{width:63px; height:42px;}

div.jigouDivHeadTitle{ height:35px; line-height:35px; border-bottom:1px solid #e9e9e9; margin:0 5px;
font-family:'微软雅黑'; letter-spacing:2px; font-size:20px; color:#064e46; text-align:left; font-weight:bold;}
div.jigouDivHeadTitle h1{ height:35px; line-height:35px; float:left;
font-family:'微软雅黑'; letter-spacing:2px; font-size:20px; color:#000; text-align:left; font-weight:normal;}

div.jigouDivHeadBody{ padding:0px 5px 0px; overflow:hidden; margin:0 5px;}




/**/
div.detailContent{ clear:both; padding:0px 20px 20px 20px; margin-bottom:15px; background:#f9f9f9; border-top:1px solid #61c1fb;}
div.detailContent h1{ clear:both; line-height:34px;height:34px; padding:0px 20px; float:left; margin-left:10px; margin-bottom:5px;
font-family:'微软雅黑'; letter-spacing:1px; font-size:15px; color:#fff; text-align:left;
background:#61c1fb;  border-radius:0 0 3px 3px;}
div.detailContent p{ clear:both; line-height:18px;
font-family:'微软雅黑'; letter-spacing:1px; font-size:12px; color:#666; text-align:left; text-indent:24px;}
/**/



div.hospitalTips{ clear:both; padding-top:100px; height:460px; background:#fff;}
div.hospitalTipsDiv{ margin:0 auto; padding:30px 0 10px 100px;width:250px;
    background:url(../images/zhanghubg.png) no-repeat 0 bottom;}
div.hospitalTipsTable table{ border-collapse:collapse; width:100%;}
div.hospitalTipsTable table td{ height:130px; padding:0 90px 50px 10px; overflow:hidden;
    font-family:'微软雅黑'; letter-spacing:1px; font-size:16px; color:#999; text-align:center;}
a.hospitalTipsA{ display:block; margin:0 auto; width:120px; height:40px; line-height:40px; padding:0 20px;
    font-family:'微软雅黑'; letter-spacing:1px; font-size:16px; color:#fff; text-align:center;
    background:#d5bb2b; border-radius:4px;}
a.hospitalTipsA:hover{background:#c4a914; }


/*--------*/
table.userMsgTable{ width:100%; border-collapse:collapse;}
table.userMsgTable tr th,table.userMsgTable td{ border-bottom:0px dotted #e9e9e9; padding:6px;font-family:'微软雅黑'; font-size:12px;letter-spacing:1px;
 height:16px; line-height:16px; }
table.userMsgTable tr th{text-align:left;color:#222222; font-weight:bold;font-size:12px; padding-right:0px;}
table.userMsgTable tr td{ width:80px;text-align:right;color:#8f8f8f; font-weight:normal; padding-left:0px;
white-space: nowrap;
text-overflow: ellipsis;
-o-text-overflow: ellipsis;overflow:hidden;}

div.renzhengDivA{ clear:both; height:64px; padding: 0 10px;margin-top: 10px;}
div.renzhengDiv{ clear:both; height:64px; position:relative; z-index:1;}
div.renzhengDiv h1{ height:24px; border-bottom:1px solid #efefef;position:relative; z-index:2;}
div.renzhengM{ height:64px; width:100%;position:absolute; left:0px; top:0px; z-index:3;}
div.renzhengM table{ width:100%; border-collapse:collapse;}
div.renzhengM table td a{ display:block; width:48px; height:48px; margin:0 auto;}
a.ico_rz{ background:url(../images/renz.png) no-repeat center center;display: block;height:32px;margin: 0 auto;width:32px; z-index:1; }

/*--------*/

a.hospitalNumber{ float:left; height:24px; line-height:24px; padding:0 15px;
font-family:Arial, Helvetica, sans-serif; letter-spacing:1px; font-size:14px; color:#fff; text-align:center;
background:#f7a247; border-radius:4px;}

a.buyA{position:absolute; right:10px; bottom:10px; z-index:100; float:left; padding:0 20px; height:30px; line-height:30px; cursor:pointer;
font-family:'微软雅黑'; letter-spacing:1px; font-size:14px; color:#fff;font-weight:normal;
background:#fe8e15; border-radius:3px;}
a.buyA:hover{ background:#fd751f;}

/**/
.hospitalTable{ width:100%; border-collapse:collapse;}
.hospitalTable td.doctorTd,.hospitalTable th.doctorTh{ padding-bottom:10px; vertical-align:top; width:20%;}
.hospitalTable td.doctorTd{ padding-right:10px;}
div.hospitalDiv{ border-radius:4px; overflow:hidden; background:#f3f3f3; cursor:pointer;}
div.hospitalDiv:hover{ background:#fff79b;}
div.hospitalDiv a.filecheckbox{ margin-top:0px; display:none;width:24px;height:24px; position:absolute; top:0px; left:0px;z-index:9;
background:url(../images/checkbox.png) no-repeat center center; cursor:pointer;}
div.hospitalDiv:hover a.filecheckbox{ display:block;background:url(../images/checkboxhob
.png) no-repeat center center;}
table.hospitalTable div.hospitalDiv a.checked{ display:block; background:url(../images/checkboxho.png) no-repeat center center #dfc94e;}
div.hospitalDiv h1{ clear:both; overflow:hidden;height:157px; position:relative;}
div.hospitalDiv h1 img{ width:100%;}
div.hospitalDiv h1 i{ position:absolute; left:0px; top:0px; width:100%; height:157px; background:url(../images/graybg.png) repeat;}
div.hospitalDiv h1 i em{ float:right; width:100%; height:157px; background:url(../images/unrenz.png) no-repeat center center;}
div.hospitalDiv h1 i.stop{ position:absolute; left:0px; top:0px; width:100%; height:157px; background:url(../images/redbg.png) repeat;}
div.hospitalDiv h1 i.stop em{float:right; width:100%; height:157px; background:url(../images/stop.png) no-repeat center center;}
div.hospitalDiv h1 b{ position:absolute; right:5px; top:5px; width:32px; height:32px; background:url(../images/renz.png) no-repeat;}
div.hospitalDiv h2{clear:both; overflow:hidden;height:34px; line-height:34px; padding:5px 10px;
color:#333;font-family:'微软雅黑'; font-size:15px;letter-spacing:1px;text-align:left; font-weight:bold;
background:#fff;}
div.hospitalNumber{ clear:both; border-top:1px solid #ececec; padding:1px 0px 3px; border-bottom:2px solid #cfcfcf;}
.hospitalNumberTable{width:100%; border-collapse:collapse;}
.hospitalNumberTable td,.hospitalNumberTable th{}
.hospitalNumberTable th{ padding:3px 5px;color:#e28046;font-family:Arial; font-size:14px;letter-spacing:1px;font-weight:bold;}
.hospitalNumberTable td{color:#999;font-family:'微软雅黑'; font-size:11px;letter-spacing:1px;font-weight:normal; text-align:center;}





/*--------页码----------*/
div.pageBar{ clear:both;height:25px; padding:5px 0; border-top:1px solid #ccc;}
.snPages{float:right;height:25px; padding-right:10px;}
.snPages a,.snPages a:visited,.snPages span,.snPages div{position:relative;display:inline;float:left;margin-left:4px;color:#333;}
.snPages span{margin:0 10px;}
.snPages div{height:29px;line-height:26px;line-height:30px\9;+line-height:32px;_line-height:26px;margin-top:-1px;padding-left:30px;overflow:hidden;}
.snPages a,.snPages a:visited{height:20px;line-height:20px;padding:0 8px;text-align:center;background:#fff;border:1px solid #d7d7d7;border-radius:4px 4px 4px 4px;}
.snPages a.current{color:#f60;}
.snPages a.prev,.snPages a.next,.snPages a.prev,.snPages a.next:visited{width:20px;height:20px;line-height:20px;line-height:28px\9;_line-height:24px;padding:0;overflow:hidden;}
.snPages a.prev,.snPages span.prev{text-indent:6px;}
.snPages a.next,.snPages span.next{margin-left:4px;text-indent:-6px;}
.snPages span.prev,.snPages span.next{display:inline;float:left;width:20px;height:20px;line-height:20px;line-height:28px\9;_line-height:24px;margin:0;overflow:hidden;color:#b1b1b1;text-align:center;background:#fff;border:1px solid #d7d7d7;border-radius:4px 4px 4px 4px;}
.snPages span.prev{+margin-right:4px;_margin-right:0;}
.snPages span.next{margin-left:4px;}
.snPages b{position:absolute;width:0;height:0;line-height:0;margin-top:-2px;+margin-top:-3px;font-size:0;border-width:5px;border-style:solid;border-color:#fff #333 #fff #fff;}
.snPages a.prev b{left:1px;top:8px;}
.snPages a.next b{right:1px;top:8px;border-color:#fff #fff #fff #333;}
.snPages span.prev b{left:1px;top:8px;border-color:#fff #b1b1b1 #fff #fff;}
.snPages span.next b{right:1px;top:10px;border-color:#fff #fff #fff #b1b1b1;}
.snPages div input{+position:relative;+top:-2px;_top:-1px;+left:3px;width:32px;height:20px;line-height:20px;margin:0 3px;overflow:hidden;text-align:center;+vertical-align:middle;border:1px solid #d7d7d7;}
.snPages div input.pagesubmit{position:relative; float:right; margin-top:2px; display:inline;cursor:pointer;width:45px;height:20px;line-height:20px;line-height:20px\9;+line-height:20px;_line-height:20px;overflow:hidden;background:url(images/common.png) no-repeat 0 0;border-radius:4px 4px 4px 4px;}
.snPages div input.pagesubmit:hover{color:#f60;text-decoration:underline;}
.snPages a:hover{color:#f60;}

/*------------------*/

ul.tabToolBarUl li{ float:right;}
ul.tabToolBarUl li a{ float:left; height:24px; line-height:24px; padding:0px 10px; margin:0 5px; 
background:#f7a247; border-bottom:2px solid #ee983c; border-radius:3px;
font-family:'微软雅黑'; letter-spacing:1px; font-size:12px; color:#fff; text-align:center; cursor:pointer;}
ul.tabToolBarUl li a:hover{background:#fd751f; border-bottom:2px solid #e95a00;}


/*---------按钮工具条---------*/
ul.toolBarList{ float:right;}
ul.toolBarList li{ float:left; margin-right:5px; height:26px; line-height:26px; padding:0 10px;
background:#79b16b; border-bottom:2px solid #629e53; cursor:pointer;}
ul.toolBarList li:hover{ background:#63aa51;}
ul.toolBarList li a{ height:26px; line-height:26px;color:#fff;font-family:'微软雅黑'; text-align:center; letter-spacing:1px; }

a.checkbox{ width:20px; height:32px; float:left; margin-top:8px; cursor:pointer;}
a.checkbox:hover{background:url(../images/checkboxed.png) no-repeat center center;}
a.uncheck{background:url(../images/checkbox.png) no-repeat center center;}
a.checked{background:url(../images/checkboxed.png) no-repeat center center;}

div.stactTips a.checked{background:url(../images/checkboxho.png) no-repeat center center;}
/*---------按钮工具条end---------*/


/*-------------*/
div.userMain{ padding:10px 10px 0px 0px; background:#efefef;}
div.userContent{ clear:both; margin-bottom:10px; overflow:hidden; height:370px;}
div.userDiv{ float:left; width:95px; height:25px; line-height:20px; padding-top:70px; margin-left:8px; margin-bottom:8px; position:relative;
font-family:'微软雅黑'; letter-spacing:1px; font-size:12px; color:#767879; text-align:center;
background:url(../images/userpic.png) no-repeat center 15px #fff; cursor:pointer;}
div.userDiv:hover{ background-color:#fefbc9;}

div.userOnline{ background-color:#499934; color:#fff;}
div.userYinShen{ background-color:#e0b904; color:#fff;}

div.userDetailCont{ padding:10px; padding-right:0px;}
div.userDetailContHead{ clear:both; height:37px; line-height:37px; border-bottom:1px solid #e3e3e3; background:#f7f7f7;}
h1.userDetailConthText{ float:left; height:37px; line-height:37px; padding:0 10px;
font-family:'微软雅黑'; letter-spacing:1px; font-size:16px; font-weight:normal; color:#010101;
border-left:3px solid #ffa03a;}
a.loadUserDetail{ float:right;height:37px; width:40px; background:url(../images/arrowrightb.png) no-repeat center center #406a98; cursor:pointer;}
a.loadUserDetail:hover{ background-color:#09386B;}

div.userDetail{ clear:both; padding:10px;
background:#fff;}
h1.userDetailh1{ height:24px; line-height:24px; padding:0 10px;
font-family:'微软雅黑'; letter-spacing:1px; font-size:13px; font-weight:normal; color:#010101;}
h1.userDetailh1 font{font-family:'微软雅黑'; letter-spacing:1px; font-size:12px;color:#969696;}
/*-------------*/

/**/
div.jigouDivHead{ clear:both; margin-bottom:15px; background:#fff; padding:20px 20px 20px 325px; height:230px; position:relative;}
div.picDiv{position:absolute; left:10px; top:10px; z-index:100; width:300px; height:250px; overflow:hidden;}
div.picDiv h1 img{width:300px; height:200px;}
div.picDiv ul.picDivList{ padding-top:5px;width:320px;}
div.picDiv ul.picDivList li{ float:left;width:63px; height:42px;padding:3px; border:1px solid #efefef; margin-right:5px; cursor:pointer;}
div.picDiv ul.picDivList li:hover{border:1px solid #ddd; background:#efefef;}
div.picDiv ul.picDivList li img{width:63px; height:42px;}

div.jigouDivHeadTitle{ height:35px; line-height:35px; border-bottom:1px solid #e9e9e9; margin:10px 5px;
font-family:'微软雅黑'; letter-spacing:2px; font-size:20px; color:#064e46; text-align:left; font-weight:bold;}
div.jigouDivHeadTitle h1{ height:35px; line-height:35px; float:left;
font-family:'微软雅黑'; letter-spacing:2px; font-size:20px; color:#000; text-align:left; font-weight:normal;}
div.jigouDivHeadTitle h1 i{ font-size:12px; font-style:normal;line-height:40px; color:#999; margin:0 5px;}
div.jigouDivHeadBody{ padding:0px 5px 0px; overflow:hidden; margin:0 5px;}

h1.yszs{float:left;background: #fff;border: 1px solid #ddd;height:74px;padding: 5px;width: 100px; margin-right:10px; cursor:pointer; position:relative;}
h1.yszs img {height: 74px;width: 100px;}


/*--------*/
table.userMsgTable{ width:100%; border-collapse:collapse;}
table.userMsgTable tr th,table.userMsgTable td{ border-bottom:1px dotted #e9e9e9; padding:6px;font-family:'微软雅黑'; font-size:12px;letter-spacing:1px;height:20px; line-height:20px; }
table.userMsgTable tr th{text-align:left;color:#222222; font-weight:bold;font-size:12px; padding-right:0px;}
table.userMsgTable tr td{ width:80px;text-align:right;color:#8f8f8f; font-weight:normal; padding-left:0px;}
/*--------*/
/*--------*/
table.userMsgTableB{ width:100%; border-collapse:collapse;}
table.userMsgTableB tr th,table.userMsgTableB td{ border-bottom:0px dotted #e9e9e9; padding:6px;font-family:'微软雅黑'; font-size:12px;letter-spacing:1px;
 height:16px; line-height:16px; }
table.userMsgTableB tr th{text-align:left;color:#222222; font-weight:bold;font-size:12px; padding-right:0px;}
table.userMsgTableB tr td{ width:80px;text-align:right;color:#8f8f8f; font-weight:normal; padding-left:0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;overflow:hidden;}
/*--------*/

/**/
div.dataTablediv{ clear:both; margin-bottom:15px;}
table.dataTable{ width:100%; border-collapse:collapse;}
table.dataTable td,table.dataTable th{ vertical-align:top; text-align:center;}
table.dataTable td{ padding-right:10px;}

div.dataDiv{ border-radius:4px; overflow:hidden; height:100px; cursor:pointer;}
div.dataDiv:hover{
filter:alpha(opacity=90);
-moz-opacity:0.9;
opacity:0.9;
}
div.dataDiv h1{ clear:both; height:60px; line-height:80px;
font-size:30px;font-family:Arial, Helvetica, sans-serif; color:#fff; letter-spacing:1px; font-style:normal;}
div.dataDiv h2{ clear:both; height:40px; line-height:14px;
font-size:14px;font-family:'微软雅黑'; color:#fff; letter-spacing:1px; font-style:normal;}


div.ico_doctor02{ background:url(../images/ico_doctor02.png) no-repeat left 0 #e47878;}
div.ico_huanzhe02{ background:url(../images/ico_huanzhe02.png) no-repeat left 0 #62a6d6;}
div.ico_fuwu02{ background:url(../images/ico_fuwu02.png) no-repeat left 0 #51c399;}
div.ico_dingdan02{ background:url(../images/ico_dingdan02.png) no-repeat left 0 #d2d041;}
div.ico_hospitalbg{ background:url(../images/ico_hospitalbg.png) no-repeat -30px bottom #fcb247;}
/**/