@charset "utf-8";
html{
scrollbar-arrow-color:#606060; /*三角箭头颜色*/
scrollbar-face-color:#c2c2c2; /*立体滚动条颜色（包括箭头部分的背景色）*/
scrollbar-3dlight-color:#c2c2c2; /*亮边颜色*/
scrollbar-highlight-color:#c2c2c2; /*高亮颜*/
scrollbar-shadow-color:#f2f2f2; /*阴影颜色*/
scrollbar-darkshadow-color:#f2f2f2; /*外阴影颜色*/
scrollbar-track-color:#f2f2f2; /*背景颜色*/
scrollbar-base-color:#c2c2c2; /*滚动条的基色*/
}
/*webkit浏览器滚动条样式*/
::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-thumb{border-radius:10px;background:#c2c2c2;}
::-webkit-scrollbar-thumb:window-inactive {background:#656565;}

html,body{font-size:14px;font-family:'微软雅黑';padding:0;margin:0;color:#3e3a39;background:#e8e8e8;}
*{padding:0;margin:0;}
ul{margin:0px;padding:0;}
li{list-style-type:none;}
button{border:none;background:none;cursor:pointer;outline: none;font-family:'微软雅黑';star:expression(this.onFocus=this.blur());}
select,input{font-family:'微软雅黑';}
h1,h2,h3,h4,h5,h6{margin:0;display:block;font-weight:normal;font-size:14px;}
a{text-decoration:none; color:#f05f33;cursor:pointer;outline:none;}
a:hover{color:#32a6c8;}
a:active{star:expression(this.onFocus=this.blur());outline:none;}
img{border:none;}
u,s{text-decoration:none;}
textarea{font-size:14px;font-family:'微软雅黑';padding:10px;line-height:24px;border:1px solid #bebebe;background:#f8f8f8;color:#595757;}
textarea:focus{border:1px solid #39a5e9;background:#fff;}

/**/
html, body{  font-size:12px;  font-family:Tahoma "微软雅黑"; height:100%; }
body{ background:#e8e8e8;}
img { border:none;}
ul li{list-style:none;}
a{text-decoration:none;}
a:hover {text-decoration:none;}
table{ border:none;}
tr{ border:none;}
td{ border:none;}


.patient_purse{padding:20px 20px 20px 0;}

/*头部信息*/

div.purse_adressBar{clear:both; margin-bottom:10px;height:37px; line-height:37px; border-bottom:0px solid #c9d1dc; background:#f9f9f9; border-radius:3px; overflow:hidden;}
a.adressBar1{height:37px; line-height:37px; float:left; margin-left:5px; padding-left:30px;color:#3c4349; font-size:12px; font-family:'微软雅黑'; letter-spacing:1px; font-weight:bold;background:url(../images/ico_home16.png) no-repeat 7px 9px; cursor:pointer;}
a.adressBar1:hover{ color:#000;}
span.adressBar2{color: #a3a3a3;float: left;font-family: "微软雅黑";font-size: 12px;height: 37px;letter-spacing: 1px;line-height: 37px;margin: 0 5px;}
span.arrowText{  color: #787677;float: left;font-family: "宋体";font-size: 12px;height: 37px;line-height: 37px;margin: 0 5px;}
a.goback{ float:right; padding-left:16px; padding-right:10px;height:37px; line-height:37px; border-left:1px solid #e2e5e9;color:#a3a3a3; font-size:12px; font-family:'微软雅黑'; letter-spacing:1px; cursor:pointer;}
a.goback:hover{ background-color:#e0c21b; border-left:1px solid #c4a915; color:#fff;}

/*账户信息*/
div.purseXinxi{ background:#FFF; height:120px; clear:both;}
div.qianbao{}

table.purseZhanghu { width:100%; background:#FFF; border-collapse:collapse;}
table.purseZhanghu tr.purseZhanghu01{font-size:12px; font-family:'微软雅黑';letter-spacing:1px; }
table.purseZhanghu tr td{font-size:14px; font-family:'微软雅黑';letter-spacing:1px; color:#999999;text-align:left; text-align:center;}
table.purseZhanghu tr span.word01{ color:#e4c936;font-size:26px;line-height:40px;letter-spacing:1px; padding-right:10px;}
/*.word03{ color:#4d4d4d; text-align:left; }*/
table.purseZhanghu tr span.word02{ color:#1a98e1;}
table.purseZhanghu tr td span.word03{ width:80px; height:40px;font-size:26px;line-height:40px;letter-spacing:1px; color:#fb8c43; padding:5px 5px; font-weight:bold; text-align:center;}


a.word04{ width:100px; height:80px;font-size:18px;line-height:80px;letter-spacing:2px; color:#FFF; background:#fe8e15 ; padding:5px 20px 5px 20px;display:block; text-align:center; float:right;}
a.word04:hover{background:#fd751f;}

div.yo{border-right:1px dotted #ddd;}

div.anniuUL{}
div.anniuUL ul{width:200px; margin:0 auto;}
div.anniuUL ul li{ float:left; padding-bottom:10px; width:150px;}
/*账户信息END*/

/*头部信息END*/


/*查询*/

div.purseSearch{clear:both; padding:7px 10px 10px; height:25px; line-height:25px; margin-bottom:10px;margin-top:10px; background:#fff repeat;}
div.purseSearch_a{width:100%;top:6px;}
div.searchBtMain{ height:25px; float:right; padding-top:2px; padding-right:10px;}
div.searchBtMain a{ margin:0 0px 0 15px; float:left; padding:0 20px; height:25px; line-height:25px; cursor:pointer;font-family:'微软雅黑'; letter-spacing:1px; font-size:12px; color:#fff;}
a.subBt{ background:#ee983c;}
a.subBt:hover{ background:#fd751f;}
a.giveupBt{ background:#404144;}
a.giveupBt:hover{ background:#333333;}

/*-----------*/
div.search_type{float:left;padding:8px 20px 0 20px; font-weight:bold; color:#30383B;font-family:'微软雅黑';}
div.search_type select{ font-weight:normal;}
div.search_div{ clear:both; overflow:hidden; border-bottom:1px solid #DDDDDD; padding:5px 0 10px 0; margin:0 5px;}
div.search_div .search_type{ padding:12px 5px 0 15px;}

div.dateDiv{ float:left;}


span.formText{ float:left; margin-right:10px; font-size:12px; height:21px; line-height:21px; font-weight:normal;letter-spacing:1px; font-family:'微软雅黑';}
input.zjInput{height:20px; padding:4px; width:170px; line-height:20px; background:#fff;color:#757575;font-family:'微软雅黑'; font-size:12px;letter-spacing:1px; background:url(../images/ico_date.png) no-repeat right center #fff; border:1px solid #E6E6E6; border-radius:3px;}
input.zjInput:hover{border:1px solid #BAC4CE;}


/*查询END*/

/*交易单列表*/
div.purseDingdan{clear:both; margin-top:10px; height:700px; }
div.purseDingdan_a{width:100%}
div.purseDingdan_a table{border-radius: 3px 3px 3px 3px; background:#FFF; height:405px; width:100%; border-collapse:collapse;}
div.purseDingdan_a table tr.tableTittle td{ height:20px;font-family:'微软雅黑'; font-weight:bold; font-size:12px;line-height:20px; text-align:center; color:#4d4d4d;letter-spacing:3px; border-bottom:solid 1px #999;}
div.purseDingdan_a table tr td{ height:20px;font-family:'微软雅黑'; font-size:12px;font-weight:normal;line-height:20px; text-align:center; color:#858484;letter-spacing:1px;border:none;}
tr.dingdan01{background:#f1efef;height:20px;}
div.purseDingdan_a table a{color:#858484;}
div.purseDingdan_a table a:hover{ text-decoration:underline;color:#fb8c43;}
/*.dingdanTime{ width:180px;}
.dingdanType{ width:460px;}
.dingdanMoney{ width:150px;}
.dingdanNum{ width:180px;}*/


/*交易列表*END/

/*--------页码----------*/
div.pageBar{ clear:both;height:25px; padding:5px 0; border-top:1px solid #ccc;}
.snPages{float:right;height:25px; padding-right:10px;}
.snPages a,.snPages a:visited,.snPages span,.snPages div{position:relative;display:inline;float:left;margin-left:4px;color:#333;}
.snPages span{margin:0 10px;}
.snPages div{height:29px;line-height:26px;line-height:30px\9;+line-height:32px;_line-height:26px;margin-top:-1px;padding-left:30px;overflow:hidden;}
.snPages a,.snPages a:visited{height:20px;line-height:20px;padding:0 8px;text-align:center;background:#fff;border:1px solid #d7d7d7;border-radius:4px 4px 4px 4px;}
.snPages a.current{color:#f60;}
.snPages a.prev,.snPages a.next,.snPages a.prev,.snPages a.next:visited{width:20px;height:20px;line-height:20px;line-height:28px\9;_line-height:24px;padding:0;overflow:hidden;}
.snPages a.prev,.snPages span.prev{text-indent:6px;}
.snPages a.next,.snPages span.next{margin-left:4px;text-indent:-6px;}
.snPages span.prev,.snPages span.next{display:inline;float:left;width:20px;height:20px;line-height:20px;line-height:28px\9;_line-height:24px;margin:0;overflow:hidden;color:#b1b1b1;text-align:center;background:#fff;border:1px solid #d7d7d7;border-radius:4px 4px 4px 4px;}
.snPages span.prev{+margin-right:4px;_margin-right:0;}
.snPages span.next{margin-left:4px;}
.snPages b{position:absolute;width:0;height:0;line-height:0;margin-top:-2px;+margin-top:-3px;font-size:0;border-width:5px;border-style:solid;border-color:#fff #333 #fff #fff;}
.snPages a.prev b{left:1px;top:8px;}
.snPages a.next b{right:1px;top:8px;border-color:#fff #fff #fff #333;}
.snPages span.prev b{left:1px;top:8px;border-color:#fff #b1b1b1 #fff #fff;}
.snPages span.next b{right:1px;top:10px;border-color:#fff #fff #fff #b1b1b1;}
.snPages div input{+position:relative;+top:-2px;_top:-1px;+left:3px;width:32px;height:20px;line-height:20px;margin:0 3px;overflow:hidden;text-align:center;+vertical-align:middle;border:1px solid #d7d7d7;}
.snPages div input.pagesubmit{position:relative; float:right; margin-top:2px; display:inline;cursor:pointer;width:45px;height:20px;line-height:20px;line-height:20px\9;+line-height:20px;_line-height:20px;overflow:hidden;background:url(images/common.png) no-repeat 0 0;border-radius:4px 4px 4px 4px;}
.snPages div input.pagesubmit:hover{color:#f60;text-decoration:underline;}
.snPages a:hover{color:#f60;}

/*------------------*/


/*-------------*/
div.userMain{ padding:10px 10px 0px 0px; background:#efefef;}
div.userContent{ clear:both; margin-bottom:10px; overflow:hidden; height:370px;}
div.userDiv{ float:left; width:95px; height:25px; line-height:20px; padding-top:70px; margin-left:8px; margin-bottom:8px; position:relative;
font-family:'微软雅黑'; letter-spacing:1px; font-size:12px; color:#767879; text-align:center;
background:url(../images/userpic.png) no-repeat center 15px #fff; cursor:pointer;}
div.userDiv:hover{ background-color:#fefbc9;}

div.userOnline{ background-color:#499934; color:#fff;}
div.userYinShen{ background-color:#e0b904; color:#fff;}

div.userDetailCont{ padding:10px; padding-right:0px;}
div.userDetailContHead{ clear:both; height:37px; line-height:37px; border-bottom:1px solid #e3e3e3; background:#f7f7f7;}
h1.userDetailConthText{ float:left; height:37px; line-height:37px; padding:0 10px;
font-family:'微软雅黑'; letter-spacing:1px; font-size:16px; font-weight:normal; color:#010101;
border-left:3px solid #ffa03a;}
a.loadUserDetail{ float:right;height:37px; width:40px; background:url(../images/arrowrightb.png) no-repeat center center #406a98; cursor:pointer;}
a.loadUserDetail:hover{ background-color:#09386B;}

div.userDetail{ clear:both; padding:10px 10px 20px 10px;
background:#fff;}
h1.userDetailh1{ height:24px; line-height:24px; padding:0 10px;
font-family:'微软雅黑'; letter-spacing:1px; font-size:13px; font-weight:normal; color:#010101;}
h1.userDetailh1 font{font-family:'微软雅黑'; letter-spacing:1px; font-size:12px;color:#969696;}
/*-------------*/


/*列表样式*/
table.datalistTable{width:100%; border-collapse:collapse;}
table.datalistTable thead tr th{ width:20%;height:28px; line-height:28px; border-bottom:1px solid #ddd; border-right:1px solid #ddd;padding:3px;
font-family:'微软雅黑'; letter-spacing:1px; font-size:13px; color:#000; background:#f8f8f8;}
table.datalistTable thead tr th.checkTh{ width:1%;}
table.datalistTable thead tr th.timeTh{ width:30%;}

table.datalistTable tbody tr td,table.datalistTable tbody tr th{height:28px; line-height:28px; padding:2px 8px; border-bottom:1px dotted #e7e7e7; border-right:1px dotted #e7e7e7;
font-family:'微软雅黑'; letter-spacing:1px; font-size:12px; color:#6B6B6B;}
table.datalistTable tbody tr.odd td{ background:#f6f6f6;}
table.datalistTable tbody tr:hover td{ background:#fdffef;}
table.datalistTable tbody tr.clickbg td{ background:#e1f5fe;}


/*---------按钮工具条---------*/
ul.toolBarList{ float:right;}
ul.toolBarList li{ float:left; margin-right:5px; height:26px; line-height:26px; padding:0 10px;
background:#f7a247; border-bottom:2px solid #ee983c; cursor:pointer; border-radius:3px;}
ul.toolBarList li:hover{background:#fd751f; border-bottom:2px solid #e95a00;}
ul.toolBarList li a{ height:26px; line-height:26px;color:#fff;font-family:'微软雅黑'; text-align:center; letter-spacing:1px; }

a.checkbox{ width:20px; height:32px; float:left; margin-top:8px; cursor:pointer;}
a.checkbox:hover{background:url(../images/checkboxed.png) no-repeat center center;}
a.uncheck{background:url(../images/checkbox.png) no-repeat center center;}
a.checked{background:url(../images/checkboxed.png) no-repeat center center;}

div.stactTips a.checked{background:url(../images/checkboxho.png) no-repeat center center;}
/*---------按钮工具条end---------*/