@charset "utf-8";
/* CSS Document */
body{
    scrollbar-face-color:#DEF;
    scrollbar-highlight-color:#FFF;
    scrollbar-shadow-color:#9BC;
    scrollbar-3dlight-color:#ACD;
    scrollbar-arrow-color:#68A;
    scrollbar-track-color:#EEE;
    scrollbar-darkshadow-color:#DEF;
    font-size:12px;
    font-family:'微软雅黑';
}
body{ position:relative;background:#e8e8e8;}
*{padding:0;margin:0;}
a{ text-decoration:none; color:#0CF;outline:none;}
a:active {outline: none;star:expression(this.onFocus=this.blur());}
img{border:none;}
ul{ list-style:none;}


div.pageMain{ padding:20px 20px 10px 0px; min-height:900px;}



/*---------按钮工具条---------*/
ul.toolBarList{ float:right;}
ul.toolBarList li{ float:left; margin-right:5px; height:26px; line-height:26px; padding:0 10px;
    background:#f7a247; border-bottom:2px solid #ee983c; cursor:pointer;}
ul.toolBarList li:hover{ background:#fd751f;border-bottom:2px solid #e95a00;}
ul.toolBarList li a{ height:26px; line-height:26px;color:#fff;font-family:'微软雅黑'; text-align:center; letter-spacing:1px; }

a.checkbox{ width:20px; height:32px; float:left; margin-top:8px; cursor:pointer;}
a.checkbox:hover{background:url(../images/checkboxho.png) no-repeat center center;}
a.uncheck{background:url(../images/checkbox.png) no-repeat center center;}
a.checked{background:url(../images/checkboxhob.png) no-repeat center center;}

div.stactTips a.checked{background:url(../images/checkboxho.png) no-repeat center center #dfc94e;}
/*---------按钮工具条end---------*/


/*列表*/
div.serviseDiv{ clear:both; background:#fff; height:120px; padding:0 10px 0 180px; margin-bottom:8px; position:relative; cursor:pointer;}
div.serviseDiv:hover{ background:#fdfcf2;}
i.serpic{ position:absolute; left:0px; top:0px; width:175px; height:120px;}
i.serpic img{ width:175px; height:120px;}
div.serviseDivhead{ clear:both; height:34px; border-bottom:1px solid #efefef;}
div.serviseDivhead h1{ float:left; line-height:35px; padding:0 5px;
    color:#000; font-size:16px; font-family:'微软雅黑'; letter-spacing:1px;}
div.serviseDivhead span{ float:right; line-height:40px;
    color:#999; font-size:12px; font-family:'微软雅黑'; letter-spacing:1px;}
div.serviseDivhead span b{ margin:0 5px; color:#333; font-weight:bold; }
a.value{ position:absolute; right:0px; top:60px; height:40px; line-height:40px; float:left; padding:0 15px;
    color:#ff0; font-size:14px; font-family:'微软雅黑'; letter-spacing:1px;
    background:#da5a60;}
a.value b{ margin:0 5px; font-size:18px; font-style:italic;}
div.serviseDivBody{ padding:5px 160px 5px 5px;
    color:#999; font-size:12px; font-family:'微软雅黑'; letter-spacing:1px;}


.serviseBTable{ width:100%; border-collapse:collapse;}
.serviseBTable td.doctorTd,.serviseBTable th.doctorTh{ padding-bottom:10px; vertical-align:top; font-weight:normal;}
.serviseBTable td.doctorTd{ padding-right:10px;}
div.serviseDivBar{ border-top:2px solid #61c1fb;padding-top:3px; background:#fff; cursor:pointer; position:relative; }
div.serviseDivBar:hover{ background:#fffae1;}
div.serviseDivBar a.filecheckbox{ margin-top:0px; display:none;width:24px;height:24px; position:absolute; top:0px; left:0px;z-index:9;
    background:url(../images/checkbox.png) no-repeat center center; cursor:pointer;}
div.serviseDivBar:hover a.filecheckbox{ display:block;background:url(../images/checkboxhob
.png) no-repeat center center;}
table.serviseBTable div.serviseDivBar a.checked{ display:block; background:url(../images/checkboxho.png) no-repeat center center #dfc94e;}
.serviseTable{width:100%; border-collapse:collapse;}
.serviseTable td,.serviseTable th{ padding:3px 5px;color:#999; font-size:12px; font-family:'微软雅黑'; letter-spacing:1px;}
.serviseTable thead th{ color:#cfb003; font-size:15px; max-height:20px;}
.serviseTable tbody th{ color:#333; font-weight:normal;}
.serviseTable tfoot td,.serviseTable tfoot th{ background:#f8f8f8; padding:8px 5px; vertical-align:top;}
.serviseTable tfoot th{ color:#8e8e8e; font-weight:normal; text-align:left;overflow: hidden;}
.serviseTable td{ text-align:right; width:80px;}
.serviseTable .thtext{height: 18px;overflow:hidden;text-overflow:ellipsis;border-collapse: collapse;}
.serviseBTable div.unServiseDivBar{border-top:2px solid #8d8d8d;}
.serviseBTable div.unServiseDivBar div.bottomDiv{background:#8d8d8d;}
div.unServiseDivBar div.bottomDiv h1{color:#6c6c6c;}
div.unServiseDivBar div.bottomDiv h1 b{ color:#6c6c6c;text-decoration:line-through;}
div.unServiseDivBar div.bottomDiv a.buybuybuy{ background:#6c6c6c; color:#c7c7c7; text-decoration:line-through;}

div.bottomDiv{ clear:both; padding:5px 0px; height:35px; background:#61c1fb;}
div.bottomDiv h1{ float:left; padding-left:15px;height:35px; line-height:35px;
    color:#fff; font-size:12px; font-family:'微软雅黑'; letter-spacing:1px; font-weight:normal;}
div.bottomDiv h1 b{ margin-left:5px;color:#ff0; font-size:24px; font-family:Arial, Helvetica, sans-serif;font-weight:normal; font-style:italic;}

a.buybuybuy{ float:right; height:30px;line-height:30px; margin-right:10px; margin-top:3px; padding:0 20px; cursor:pointer;
    color:#806506; font-size:15px; font-family:'微软雅黑'; letter-spacing:1px; font-weight:bold;
    background:#fff600; border-radius:3px;}
a.buybuybuy:hover{ background:#e8bc0a; color:#fff;}


div.serListBDiv{clear:both; background:#fff; height:50px; padding:0 24px 0 24px; margin-bottom:5px; position:relative; cursor:pointer;}
div.serListBDiv:hover{ background:#fdfcf2;}
div.stactTipsc{position:absolute; left:0px; top:0px; width:24px; height:50px;
    background-color:#61c1fb; border-radius:3px 0 0 3px;}
div.arror_jump{position:absolute; right:0px; top:0px; width:24px; height:50px;
    background:url(../images/ico_arrowr.png) no-repeat center center #61c1fb; border-radius:0 3px 3px 0;}
div.arror_jump:hover{ background-color:#6f9fcd;}
table.serListBDivDataT{ width:100%; border-collapse:collapse;}
table.serListBDivDataT th{ padding:8px 0 3px; height:20px; width:12%; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;-o-text-overflow: ellipsis;
    color:#666; font-size:12px; font-family:'微软雅黑'; letter-spacing:1px; text-align:center;}
table.serListBDivDataT th.tha{ width:5%;}
table.serListBDivDataT th i{ margin-left:5px; font-size:16px; font-family:Arial, Helvetica, sans-serif; font-style:normal; color:#ff6600;}
table.serListBDivDataT td{ height:12px; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;-o-text-overflow: ellipsis;
    color:#999; font-size:11px; font-family:'微软雅黑'; letter-spacing:1px; text-align:center;}
.timeh{background:url(../images/ico_24h.png) no-repeat center 0px;}
table.serListBDivDataT th.timeOn{background:url(../images/ico_24hon.png) no-repeat center 0px;}
.stactT{background:url(../images/ico_stactoff.png) no-repeat center 0px;}
table.serListBDivDataT th.stactTOn{background:url(../images/ico_stacton.png) no-repeat center 0px;}







/*--------页码----------*/
div.pageBar{ clear:both;height:25px; padding:5px 0; border-top:1px solid #ccc;}
.snPages{float:right;height:25px; padding-right:10px;}
.snPages a,.snPages a:visited,.snPages span,.snPages div{position:relative;display:inline;float:left;margin-left:4px;color:#333;}
.snPages span{margin:0 10px;}
.snPages div{height:29px;line-height:26px;line-height:30px\9;+line-height:32px;_line-height:26px;margin-top:-1px;padding-left:30px;overflow:hidden;}
.snPages a,.snPages a:visited{height:20px;line-height:20px;padding:0 8px;text-align:center;background:#fff;border:1px solid #d7d7d7;border-radius:4px 4px 4px 4px;}
.snPages a.current{color:#f60;}
.snPages a.prev,.snPages a.next,.snPages a.prev,.snPages a.next:visited{width:20px;height:20px;line-height:20px;line-height:28px\9;_line-height:24px;padding:0;overflow:hidden;}
.snPages a.prev,.snPages span.prev{text-indent:6px;}
.snPages a.next,.snPages span.next{margin-left:4px;text-indent:-6px;}
.snPages span.prev,.snPages span.next{display:inline;float:left;width:20px;height:20px;line-height:20px;line-height:28px\9;_line-height:24px;margin:0;overflow:hidden;color:#b1b1b1;text-align:center;background:#fff;border:1px solid #d7d7d7;border-radius:4px 4px 4px 4px;}
.snPages span.prev{+margin-right:4px;_margin-right:0;}
.snPages span.next{margin-left:4px;}
.snPages b{position:absolute;width:0;height:0;line-height:0;margin-top:-2px;+margin-top:-3px;font-size:0;border-width:5px;border-style:solid;border-color:#fff #333 #fff #fff;}
.snPages a.prev b{left:1px;top:8px;}
.snPages a.next b{right:1px;top:8px;border-color:#fff #fff #fff #333;}
.snPages span.prev b{left:1px;top:8px;border-color:#fff #b1b1b1 #fff #fff;}
.snPages span.next b{right:1px;top:10px;border-color:#fff #fff #fff #b1b1b1;}
.snPages div input{+position:relative;+top:-2px;_top:-1px;+left:3px;width:32px;height:20px;line-height:20px;margin:0 3px;overflow:hidden;text-align:center;+vertical-align:middle;border:1px solid #d7d7d7;}
.snPages div input.pagesubmit{position:relative; float:right; margin-top:2px; display:inline;cursor:pointer;width:45px;height:20px;line-height:20px;line-height:20px\9;+line-height:20px;_line-height:20px;overflow:hidden;background:url(images/common.png) no-repeat 0 0;border-radius:4px 4px 4px 4px;}
.snPages div input.pagesubmit:hover{color:#f60;text-decoration:underline;}
.snPages a:hover{color:#f60;}

/*------------------*/


/*------------------*/
div.projectDetailHead{ clear:both; padding-left:145px; height:150px; position:relative; margin-bottom:20px; background:#f9f9f9;}
div.projectDetailStact{ position:absolute; left:0; top:0px; z-index:100; width:130px; height:150px; background:#468afa;}
h1.projectDetailStactTitle{ clear:both; border-bottom:2px solid #4176cd; height:35px; line-height:35px; text-align:center;
    font-family:'微软雅黑'; letter-spacing:2px; font-size:12px; color:#e1e1e1;}
a.projectDetailStactBody{ display:block; width:130px; height:105px; line-height:105px;
    font-family:'微软雅黑'; letter-spacing:6px; font-size:20px; color:#fff; text-align:center; font-weight:bold;
    background:url(../images/ico_timing.png) no-repeat center center; }

div.YDDetailStact{position:absolute; left:0; top:0px; z-index:100; width:140px; height:150px; background:#61c1fb;}
div.YDDetailStactDiv{ clear:both; height:110px;}
div.YDDetailStactDiv h2{clear:both; padding-top:55px;height:35px; line-height:35px;
    font-family:'微软雅黑'; letter-spacing:2px; font-size:18px; color:#fff; text-align:center; font-weight:bold;}
div.YDDetailStactDiv h3{clear:both;height:20px; line-height:20px;
    font-family:'微软雅黑'; letter-spacing:1px; font-size:12px; color:#f6f6f6; text-align:center; font-weight:normal;}
h1.YDDetailStactData{clear:both;height:40px; line-height:40px;
    font-family:Arial; letter-spacing:1px; font-size:12px; color:#fff; text-align:center; font-weight:normal;
    background:#43aeee;}

div.projectDetailHeadTitle{ height:35px; line-height:35px; border-bottom:1px solid #e9e9e9; margin:0 5px;
    font-family:'微软雅黑'; letter-spacing:2px; font-size:20px; color:#064e46; text-align:left; font-weight:bold;}
div.projectDetailHeadTitle h1{ height:35px; line-height:35px; float:left;
    font-family:'微软雅黑'; letter-spacing:2px; font-size:20px; color:#000; text-align:left; font-weight:bold;}
div.projectDetailHeadTitle span{ height:30px; line-height:30px; float:right; margin-right:10px; margin-top:5px; padding:0 10px;
    font-family:'微软雅黑'; letter-spacing:1px; font-size:14px; color:#fd751f; text-align:left; font-weight:normal;}
div.projectDetailHeadTitle span b{ margin:0 5px; font-family:Arial, Helvetica, sans-serif; font-size:20px;}

div.projectDetailHeadBody{ padding:0px 5px 0px; overflow:hidden; margin:0 5px;}
a.buyA{position:absolute; right:10px; bottom:10px; z-index:100; float:left; padding:0 20px; height:30px; line-height:30px; cursor:pointer;
    font-family:'微软雅黑'; letter-spacing:1px; font-size:14px; color:#fff;font-weight:normal;
    background:#fe8e15; border-radius:3px;}
a.buyA:hover{ background:#fd751f;}

/*--------*/
table.userMsgTable{ width:100%; border-collapse:collapse;}
table.userMsgTable tr th,table.userMsgTable td{ border-bottom:0px dotted #e9e9e9; padding:6px;font-family:'微软雅黑'; font-size:12px;letter-spacing:1px;
    height:16px; line-height:16px; }
table.userMsgTable tr th{text-align:left;color:#222222; font-weight:bold;font-size:12px; padding-right:0px;}
table.userMsgTable tr td{ width:80px;text-align:right;color:#8f8f8f; font-weight:normal; padding-left:0px;}
/*--------*/

div.detailContent{ clear:both; padding:0px 20px 20px 20px; margin-bottom:15px; background:#f9f9f9; border-top:1px solid #61c1fb;}
div.detailContent h1{ clear:both; line-height:34px;height:34px; padding:0px 20px; float:left; margin-left:10px; margin-bottom:5px;
    font-family:'微软雅黑'; letter-spacing:1px; font-size:15px; color:#fff; text-align:left;
    background:#61c1fb;  border-radius:0 0 3px 3px;}
div.detailContent p{ clear:both; line-height:18px;
    font-family:'微软雅黑'; letter-spacing:1px; font-size:12px; color:#666; text-align:left; text-indent:24px;}



/*--------*/
div.objBox{ clear:both; margin-bottom:20px;}
div.objBoxHead{ clear:both; height:35px; border-bottom:1px solid #0F427A; }
div.objBoxHeadTab{ border-bottom:1px solid #fff; border-top:2px solid #f7a247;background:#F3F3F3; height:39px;}
h1.objBoxhText{ float:left; height:28px; line-height:28px; margin-top:3px; padding:0 20px;
    font-family:'微软雅黑'; letter-spacing:1px; font-size:13px; font-weight:bold; color:#fff;
    border-top:4px solid #043060; background:#0F427A;}

ul.objBoxHeadTabUl{ float:left; margin-left:1px;}
ul.objBoxHeadTabUl li{float:left; margin-right:1px;height:39px; line-height:38px; margin-top:0px; padding:0 30px;
    font-family:'微软雅黑'; letter-spacing:1px; font-size:13px; font-weight:bold; color:#606060;
    border-top:0px solid #606060; background:#F3F3F3; cursor:pointer;}
ul.objBoxHeadTabUl li:hover{border-top:0px solid #043060; background:#f7a247;color:#fff; }
ul.objBoxHeadTabUl li.lion{border-top:0px solid #0F427A; background:#f7a247; color:#fff;}

div.objBoxBody{ clear:both; border:1px solid #ddd; border-top:0px;}
div.objBoxBodyb{ clear:both; border:1px solid #ddd; border-top:0px; display:none;}

p.projectdcript{clear:both; overflow:hidden; text-indent:24px; padding:10px; line-height:18px;
    font-family:'微软雅黑'; letter-spacing:1px; font-size:13px; color:#717171;}

table.datalistB thead th{ background:#e8e8e8; height:35px; line-height:35px; border-bottom:1px solid #ccc;border-top:1px solid #ddd;}
table.datalistB tbody td{height:30px; line-height:30px;}

/*--------*/

/*-------*/
div.secondTabHead{ height:36px; line-height:36px; background:#f3f3f3; border-bottom:1px solid #fff; border-top:1px solid #CCCCCC;}
ul.secondTabHeadUl li{ float:left;height:36px; line-height:36px; padding:0 20px;border-right:1px solid #CCCCCC;
    font-family:'微软雅黑'; letter-spacing:1px; font-size:13px; color:#828282; text-align:center; cursor:pointer;}
ul.secondTabHeadUl li:hover{ background:#fcf8ba; border-bottom:2px solid #24578f;height:34px; line-height:34px; }
ul.secondTabHeadUl li.lion{background:#fff; font-weight:bold; border-bottom:2px solid #24578f;height:35px; line-height:36px; color:#24578f;}


div.datalistTabMain{ clear:both; overflow:hidden;}
div.datalistTabMainBody{ overflow:hidden; display:none;}
div.tabToolBar{ clear:both; padding-top:4px; height:30px; line-height:30px;background:#f1f1f1; border-bottom:1px solid #CCCCCC; border-top:1px solid #ccc;}
ul.tabToolBarUl li{ float:left;}
ul.tabToolBarUl li a{ float:left; height:24px; line-height:24px; padding:0px 10px; margin:0 5px;
    background:#f7a247; border-bottom:2px solid #ee983c; border-radius:3px;
    font-family:'微软雅黑'; letter-spacing:1px; font-size:12px; color:#fff; text-align:center; cursor:pointer;}
ul.tabToolBarUl li a:hover{background:#fd751f; border-bottom:2px solid #e95a00;}
/*-------*/


/*----列表-----*/
div.sgListLiMain{clear:both; position:relative; height:70px; padding:0px 120px 0px 10px; margin-bottom:5px; border:1px solid #e3e3e3;border-radius:4px; background:#fff;}
div.sgListLiMain:hover{/*border:1px solid #f0efd3; */ background:#fdfcf2;}
div.listStatic{ width:85px; height:72px; position:absolute; right:-1px; top:-1px; background:#1a98e1;border-radius:0px 4px 4px 0px;}
div.sgListLiMain .color02{ background:#fa9a5e;}
div.sgListLiMain .color03{ background:#f2768b;}
div.sgListLiMain .listStatic_red{background:#e58c72;}
div.sgListLiMain .listStatic_green{background:#53c79f;}
div.listStatic h1{ clear:both; height:34px; line-height:40px; padding-top:5px;
    color:#fff;font-family:'微软雅黑'; font-size:14px; font-weight:bold;letter-spacing:1px;text-align:center;}
div.listStatic h2{ clear:both; height:20px; line-height:14px;
    color:#fff;font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal;letter-spacing:0px;text-align:center;}
div.listStatic h2{ clear:both; height:18px; line-height:18px;
    color:#e7e7e7;font-family:'微软雅黑'; font-size:11px;letter-spacing:1px; text-align:center;}
div.sgListLiMainCenter{height:60px; padding:0 5px; cursor:pointer;}
div.sgListHead{ clear:both;height:40px;}
div.sgListHead h1{ float:left;height:40px; line-height:45px; padding:0px 5px;
    color:#333;font-family:'微软雅黑'; font-size:15px; font-weight:bold;letter-spacing:1px;text-align:left;}
div.sgListHead span{ float:right;height:40px; line-height:45px; padding:0px 5px;
    color:#666;font-family:'微软雅黑';font-size:12px; font-weight:bold;letter-spacing:1px;text-align:left;}
div.sgListHead span b{color:#999; font-size:14px;font-family:Arial;  font-weight:bold;}
div.sgListHead span b.text{font-family:'微软雅黑'; font-size:12px;font-weight:bold;}
ul.sgMsg{ float:left;}
ul.sgMsg li{ float:left; height:22px; line-height:22px; margin-right:10px;}
ul.sgMsg li span{ float:left; height:22px; line-height:22px;
    color:#999;font-family:'微软雅黑'; font-size:12px;letter-spacing:1px; text-align:right;}
ul.sgMsg li a{ float:left; height:22px; line-height:22px; padding:0 5px;
    color:#e0c21b;font-family:'微软雅黑'; font-size:12px;letter-spacing:1px; text-align:left;font-weight:bold;}
a.arrowRight{ position:absolute; right:0px; top:-1px;width:24px; height:72px; display:block;
    background:url(../images/ico_arrowr.png) no-repeat center center #699cf0; border-left:1px solid #4880dc; border-radius:0px 4px 4px 0px; cursor:pointer;}
a.arrowRight:hover{background:url(../images/ico_arrowr.png) no-repeat center center #53c79f; border-left:1px solid #629e53;}
a.dealButtum{position:absolute; right:34px; top:11px;width:72px; height:50px;line-height:50px; display:block;
    color:#fff;font-family:'微软雅黑'; font-size:13px;letter-spacing:1px; text-align:center;
    background:#53c79f; border:1px solid #44bf95; border-radius:4px; cursor:pointer;}
a.dealButtum:hover{background:#1cbd86; border:1px solid #03ad72; color:#ff0;}

/*----列表 END-----*/


/*列表*/
.doctorTable{ width:100%; border-collapse:collapse;}
.doctorTable td.doctorTd,.doctorTable th.doctorTh{ padding-bottom:10px; vertical-align:top; width:20%;}
.doctorTable th.doctorTh{ text-align:left;}
.doctorTable td.doctorTd{ padding-right:10px;}
div.huanzheDiv{ border-radius:4px; overflow:hidden; background:#fff; position:relative;}
div.huanzheDiv h1{ position:absolute; left:8px; top:8px; width:70px; height:70px;}
div.huanzheDiv h1 img{width:70px; height:70px; border-radius:70px;}
ul.usermsg{ clear:both; padding-left:85px; padding-top:5px; height:80px;}
ul.usermsg li{ clear:both; height:18px; line-height:18px;
    color:#999; font-size:12px; font-family:'微软雅黑'; letter-spacing:1px;}
ul.usermsg li b{ margin:0 5px; color:#333;}
div.bingshi{ border-top:1px solid #ddd; background:#f8f8f8; padding:5px 0px; overflow:hidden; height:46px;}
div.bingshi span{ float:left; height:20px; line-height:20px;padding:0 10px;
    color:#999; font-size:12px; font-family:'微软雅黑'; letter-spacing:1px;}
div.bingshi a{ float:left; height:20px; line-height:20px; padding:0 10px; margin:0 0px 5px 5px;
    color:#fff; font-size:12px; font-family:'微软雅黑'; letter-spacing:1px;
    background:#c4af4c; border-radius:4px;}



/*---------列表---------*/
div.YDlistDiv{ clear:both; min-height:47px; margin-bottom:10px; position:relative;
    border:1px solid #fff; background:#fff; border-radius:3px;}

div.stactTips{ position:absolute; left:-1px; top:-1px; width:20px; height:49px; border-radius:3px 0px 0px 3px;}
.bgcolor_01{ background-color:#2bb7f2;}

div.YDlistHeadBar{height:47px; padding-right:210px; padding-left:22px; cursor:pointer;}
div.YDlistHeadBar:hover{ background:#fefff0;}
table.YDlistHeadBarTable{ border-collapse:collapse; width:100%;}
table.YDlistHeadBarTable th,table.YDlistHeadBarTable td{ padding:5px 8px; line-height:37px; border-right:0px solid #e1e1e1;
    text-align:left; font-family:'微软雅黑'; letter-spacing:0px; color:#666; font-size:11px;}
table.YDlistHeadBarTable th{ width:150px; overflow:hidden;}
font.textNuma{ margin:0 3px;
    font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ff6600; font-weight:bold;}
font.textText{ color:#333; font-weight:bold;font-size:12px;}

div.YDlistHeadRight{ position:absolute; right:-1px; top:-1px;height:49px;background:#f5f5f5;}
div.stactBar{ float:left; /*width:205px;*/ height:32px; margin:9px 5px 0 10px;}

ul.stactBarUl li{ float:left; padding:0 15px; height:32px; line-height:32px; margin-right:9px;
    text-align:center; font-family:'微软雅黑'; letter-spacing:0px; color:#999; font-size:12px;
    background-position:center center; background-repeat:no-repeat; background-color:#c0e2e2; border-radius:3px;}
ul.stactBarUl li b{ font-size:16px; font-weight:normal; color:#ff0;}

ul.stactBarUl li.pass{ background-color:#fa9a5e;color:#fff;}
ul.stactBarUl li.doing{ background-color:#e9c810;}

a.sliderDownList{ float:left; width:49px; height:49px;border-radius:0px 3px 3px 0px; cursor:pointer;
    background:url(../images/arrow_left35.png) no-repeat center center #61c1fb;}
a.sliderDownList:hover{ background-color:#6f9fcd;}
div.YDlistDiv a.sliderUpList{ background-image:url(../images/yd/ico_up.png);}
a.sliderRightList{ float:left; width:49px; height:49px;border-radius:0px 3px 3px 0px; cursor:pointer;
    background:url(../images/yd/ico_right.png) no-repeat center center #8cadcd;}
a.sliderRightList:hover{ background-color:#6f9fcd;}


/*--------------*/
div.comfirBar{ clear:both; margin-bottom:10px;margin-top:0px; height:55px; border-left:0px solid #CACACA; background:#F4F2F3;}

div.numberBar{ clear:both; width:990px; height:50px; margin:0 auto;}
div.ToolbarTextDiv{ float:left; margin:0 5px; margin-right:20px;}
div.ToolbarTextDiv font.ctrolToolbarText{ float:left;}
div.ToolbarTextDiv input.barInput{ float:left; padding:4px; height:18px; line-height:18px; margin-top:13px;color:#4c5054; font-size:12px; font-family:'微软雅黑'; letter-spacing:1px;
    border:1px solid #ddd; border-radius:3px; background:#fff;}
div.ToolbarTextDiv .ctrolToolbarTextb{  float:left;color:#049919; font-weight:normal; padding-top:8px; height:38px; line-height:38px;
    font-family:'微软雅黑'; letter-spacing:2px; font-size:20px;}
div.ToolbarTextDiv .danwei{font-size:12px; color:#ef8514; font-weight:bold;}

.ctrolToolbarText{ float:right; padding-top:8px; height:38px; line-height:38px;
    font-family:'微软雅黑'; letter-spacing:2px; font-size:16px; color:#000;}
ul.ctrolToolbarUlB{ width:270px; margin:0 auto; overflow:hidden; padding:8px;}

ul.ctrolToolbarUlB li{ float:left; margin-left:8px;}
ul.ctrolToolbarUlB li a{ width:124px; height:38px; line-height:38px; float:left; border-radius:3px;
    font-family:'微软雅黑'; font-size:16px; color:#fff; text-align:center; letter-spacing:1px;cursor:pointer;}
/*---------*/

/**/
div.listDivMain{ clear:both; padding:0 10px; height:280px;}
div.userBarList{ clear:both; height:30px; padding:0 40px 0px 10px; margin-bottom:5px; position:relative; cursor:pointer;
    background:#fff; border:1px solid #fff;}
table.userTable{ width:100%; border-collapse:collapse;}
table.userTable thead th{ height:30px; line-height:30px; padding:6px 10px 0px;
    font-family:'微软雅黑'; font-size:16px; color:#000; text-align:left; letter-spacing:1px;}
table.userTable tbody th,table.userTable tbody td{ height:30px; line-height:30px; padding:0px 10px;
    font-family:'微软雅黑'; font-size:12px; color:#999; text-align:center; letter-spacing:1px;}
table.userTable tbody th{ color:#000;text-align:left;}
table.userTable tbody td{ text-align:left;}
a.userCheckBox{ position:absolute; right:0px; top:0px; width:40px; height:30px;
    background:url(../images/checkbox.png) no-repeat center center #efefef; cursor:pointer;}
div.userBarList:hover{border:1px solid #83c473;}
div.userBarList:hover a.userCheckBox{background:url(../images/checkboxho.png) no-repeat center center #83c473;}

div.userlistMain div.userBarList_chosed{ border:1px solid #61c1fb;}
div.userlistMain div.userBarList_chosed a.userCheckBox{background:url(../images/checkboxho.png) no-repeat center center #61c1fb;}

div.seccessMsg{ clear:both; height:180px;background:#fff;}
h1.seccessMsg{ padding-top:130px; height:40px; line-height:40px;color:#666; font-size:16px; font-family:'微软雅黑'; letter-spacing:1px; text-align:center;background:url(../images/done.png) no-repeat center center;}

/*---搜索框----*/
div.searchBar{ clear:both;padding: 4px 0 2px; height:40px; border-bottom: 1px dotted #DDDDDD;}
span.spanName{ float:left;font-weight: bold;line-height: 30px;text-align: right;width: 85px; font-size:12px;}

div.mohusearch{ height:20px; border:1px solid #E6E6E6;float:right; position:relative; padding:5px;
    background:url(../images/s_bgs.png) repeat-x 0 -119px #fff;border-radius:3px;}
div.mohusearch:hover{ border:1px solid #BAC4CE;}
div.mohusearch span.searchSimpleInputb{ border:0; float:left;height:20px; width:137px; line-height:20px; padding-left:5px;color:#757575;font-family:'微软雅黑'; font-size:12px;letter-spacing:1px;}
div.mohusearch input.searchSimpleInputb{ border:0; float:left;height:20px; width:155px; line-height:20px; padding-left:5px;color:#757575;font-family:'微软雅黑'; font-size:12px;letter-spacing:1px; background:none;}
div.mohusearch a.searchSubb{ float:left; cursor:pointer;height:24px; width:24px; background:url(../images/hasddArrow.png) no-repeat center 9px ;}

div.mohusearch a.liulan{ background-color:#fe8e15; color:#fff;font-family:'微软雅黑'; font-size:24px; display:block; width:36px; height:36px;position:absolute; top:0;right:0; text-align:center;}
div.mohusearch a.liulan:hover{ background-color:#fc771f;}

div.searchSimple{ height:24px; border:1px solid #CCCCCC;float:right; margin-top:6px;}
div.searchSimple input.searchSimpleInput{ border:0; float:left;height:24px; width:137px; line-height:24px; padding-left:5px;color:#757575;font-family:'微软雅黑'; font-size:12px;letter-spacing:1px;}
div.searchSimple a.searchSub{ float:left; cursor:pointer;height:24px; width:24px; background:url(../images/searcha.jpg) no-repeat center -2px; border-left:1px solid #CCCCCC; }
div.searchSimple a:hover,div.searchSimple a.searchSub:hover{background:url(../images/searcha.jpg) no-repeat center -32px;}


div.searchDoult{ position:absolute; top:30px; left:-1px; z-index:100; width:183px; border:1px solid #d6d6d6; padding:5px; overflow:hidden; background:#f9f9f9; display:none;}
div.jieguo{ clear:both; max-height:180px; width:188px; overflow:auto; padding:0px; margin-top:5px; float:left;}
ul.jieguolist li{ clear:both; line-height:24px; border-bottom:1px dotted #d6d6d6; text-align:left; color:#5d5d5d; cursor:pointer; text-indent:12px;}
ul.jieguolist li:hover{ background:#F5F5F5;}

/*--------*/
table.userMsgTableb{ width:100%; border-collapse:collapse; margin:0 auto;}
table.userMsgTableb tr th,table.userMsgTableb td{ border-bottom:1px dotted #e9e9e9; padding:8px;font-family:'微软雅黑'; font-size:12px;letter-spacing:1px;}
table.userMsgTableb tr th{ width:100px; text-align:right;color:#5d5d5d; font-weight:normal; padding-left:0px;}
table.userMsgTableb tr td{ text-align:left;color:#222222; font-weight:bold;font-size:12px; padding-right:0px;}

.redstar{font-family:'微软雅黑'; font-size:12px; margin:0 5px; color:#F00;}

.proInput{height:20px; padding:8px; width:132px; line-height:20px; background:#fff;color:#757575;font-family:'微软雅黑'; font-size:12px;letter-spacing:1px; background:url(../images/s_bgs.png) repeat-x 0 -119px #fff; border:1px solid #E6E6E6; border-radius:3px;}
.proInput:hover{border:1px solid #BAC4CE;}
.textareaStyle{ padding:8px; border:1px solid #E6E6E6;border-radius:3px; height:60px; line-height:14px; background:#fff;color:#757575;font-family:'微软雅黑'; font-size:12px;letter-spacing:1px;}

input.zjInput{height:20px; padding:8px; width:170px; line-height:20px; background:#fff;color:#757575;font-family:'微软雅黑'; font-size:12px;letter-spacing:1px; background:url(../images/ico_date.png) no-repeat right center #fff; border:1px solid #E6E6E6; border-radius:3px;}
input.zjInput:hover{border:1px solid #BAC4CE;}

/*--------*/

/*--------------*/
div.ctrolToolbar{ clear:both; margin-bottom:10px;margin-top:0px; height:55px; border-left:4px solid #CACACA; background:#F4F2F3;}

div.numberBar{ clear:both; width:990px; height:50px; margin:0 auto;}
div.ToolbarTextDiv{ float:left; margin:0 5px; margin-right:20px;}
div.ToolbarTextDiv font.ctrolToolbarText{ float:left;}
div.ToolbarTextDiv input.barInput{ float:left; padding:4px; height:18px; line-height:18px; margin-top:13px;color:#4c5054; font-size:12px; font-family:'微软雅黑'; letter-spacing:1px;
    border:1px solid #ddd; border-radius:3px; background:#fff;}
div.ToolbarTextDiv .ctrolToolbarTextb{  float:left;color:#049919; font-weight:normal; padding-top:8px; height:38px; line-height:38px;
    font-family:'微软雅黑'; letter-spacing:2px; font-size:20px;}
div.ToolbarTextDiv .danwei{font-size:12px; color:#ef8514; font-weight:bold;}

.ctrolToolbarText{ float:right; padding-top:8px; height:38px; line-height:38px;
    font-family:'微软雅黑'; letter-spacing:2px; font-size:16px; color:#000;}
ul.ctrolToolbarUl{ float:right; padding:8px;}

ul.ctrolToolbarUl li{ float:left; margin-left:8px;}
ul.ctrolToolbarUl li a{ width:124px; height:38px; line-height:38px; float:left; border-radius:3px;
    font-family:'微软雅黑'; font-size:16px; color:#fff; text-align:center; letter-spacing:1px;
    border-bottom:3px solid #fd751f; background:#fe8e15; cursor:pointer;}
ul.ctrolToolbarUl li a:hover{ background:#fd751f; border-bottom:3px solid #e95a00;}
/*---------*/



